<kt-portlet>
	<kt-portlet-header [title]="'Add New Employee'">

	</kt-portlet-header>
	<kt-portlet-body>
		<mat-tab-group mat-stretch-tabs>
			<mat-tab label="Personal Detail">
				<!--begin::Form-->
				<form class="kt-form kt-form--label-right">
					<div class="kt-portlet__body">
						<div class="form-group row">
							<div class="col-lg-6">
								<label>First Name:</label>
								<input type="email" class="form-control" placeholder="e.g William">
								<span class="form-text text-muted">Provide employee First Name</span>
							</div>
							<div class="col-lg-6">
								<label class="">Last Name:</label>
								<input type="email" class="form-control" placeholder="e.g Cooper">
								<span class="form-text text-muted">Provide employee Last Name</span>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Known As:</label>
								<div class="kt-input-icon">
									<input type="text" class="form-control" placeholder="e.g Bill">
									<!-- <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span> -->
								</div>
								<span class="form-text text-muted">Provide Name employee is known by</span>
							</div>
							<div class="col-lg-6">
								<label class="">ID Number:</label>
								<div class="kt-input-icon">
									<input type="text" class="form-control" placeholder="e.g 960402 5504 096">
									<!-- <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="la la-bookmark-o"></i></span></span> -->
								</div>
								<span class="form-text text-muted">Provide employee Id Number</span>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Email Address:</label>
								<div class="kt-input-icon">
									<input type="email" class="form-control" placeholder="e.g caji@hott.com">
									<!-- <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span> -->
								</div>
								<span class="form-text text-muted">Provide employee Email Address</span>
							</div>
							<div class="col-lg-6">
								<label class="">Cellphone Number:</label>
								<div class="kt-input-icon">
									<input type="text" class="form-control" placeholder="e.g 074 708 3737">
									<!-- <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="la la-bookmark-o"></i></span></span> -->
								</div>
								<span class="form-text text-muted">Provide employee Cellphone Number</span>
							</div>
						</div>
					</div>
					<div class="kt-portlet__foot">
						<div class="kt-form__actions">
							<div class="row">
								<div class="col kt-align-right">
									<button type="reset" class="btn btn-secondary" [routerLink]="['../']">Cancel</button>&nbsp;
									<button type="reset" class="btn btn-primary">Submit</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</mat-tab>
			<mat-tab label="Residential">
				<!--begin::Form-->
				<form class="kt-form kt-form--label-right">
					<div class="kt-portlet__body">
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Address Line 1:</label>
								<input type="text" class="form-control" placeholder="e.g 125 Willern Cort">
								<span class="form-text text-muted">Provide residential firdst Address Line</span>
							</div>
							<div class="col-lg-6">
								<label >Address Line 2:</label>
								<input type="text" class="form-control" placeholder="e.g 125 Victoria Embankment">
								<span class="form-text text-muted">Provide residential second Address Line 2</span>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Suburb:</label>
								<div class="kt-input-icon">
									<input type="text" class="form-control" placeholder="e.g Bill">
									<span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
								</div>
								<span class="form-text text-muted">Provide residential Suburb</span>
							</div>
							<div class="col-lg-6">
								<label class="">Zip Code:</label>
								<div class="kt-input-icon">
									<input type="text" class="form-control" placeholder="e.g 4001">
									<span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
								</div>
								<span class="form-text text-muted">Provide residental postal Code</span>
							</div>
						</div>
					</div>
					<div class="kt-portlet__foot">
						<div class="kt-form__actions">
							<div class="row">
								<div class="col kt-align-right">
									<button type="reset" class="btn btn-secondary" [routerLink]="['../']">Cancel</button>&nbsp;
									<button type="reset" class="btn btn-primary">Submit</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</mat-tab>
			<mat-tab label="Employement">
				<!--begin::Form-->
				<form class="kt-form kt-form--label-right">
					<div class="kt-portlet__body">
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Job Title:</label>
								<input type="text" class="form-control" placeholder="e.g Broadcaster">
								<span class="form-text text-muted">Provide employee Job Title</span>
							</div>
							<div class="col-lg-6">
								<label>Date Engaged:</label>
								<div class="input-group">
									<input class="form-control" placeholder="yyyy-mm-dd" name="hiredate" [(ngModel)]="model" ngbDatepicker #hiredate="ngbDatepicker">
									<div class="input-group-append">
										<button class="btn btn-primary" (click)="hiredate.toggle()" type="button">
											<i class="la la-calendar"></i>
										</button>
									</div>
								</div>
								<span class="form-text text-muted">Provide date employed</span>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Pay Date:</label>
								<div class="input-group">
									<input class="form-control" placeholder="yyyy-mm-dd" name="paydate" [(ngModel)]="model" ngbDatepicker #paydate="ngbDatepicker">
									<div class="input-group-append">
										<button class="btn btn-primary" (click)="paydate.toggle()" type="button">
											<i class="la la-calendar"></i>
										</button>
									</div>
								</div>
								<span class="form-text text-muted">Provide employee Pay Date</span>
							</div>
							<div class="col-lg-2">
								<label>Package:</label>
								<div class="input-group">
									<div ngbDropdown class="d-inline-block">
										<button class="btn btn-success" id="dropdownPackage" ngbDropdownToggle>Select from List</button>
										<div ngbDropdownMenu aria-labelledby="dropdownPackage">
											<button class="dropdown-item">Action - 1</button>
											<button class="dropdown-item">Another Action</button>
											<button class="dropdown-item">Something else is here</button>
										</div>
									</div>
								</div>
								<span class="form-text text-muted">Select employee Package</span>
							</div>
							<div class="col-lg-2">
								<label>Employement Type:</label>
								<div class="input-group">
									<div ngbDropdown class="d-inline-block">
										<button class="btn btn-success" id="dropdownPackageType" ngbDropdownToggle>Select from List</button>
										<div ngbDropdownMenu aria-labelledby="dropdownPackageType">
											<button class="dropdown-item">Temp</button>
											<button class="dropdown-item">Trainee</button>
											<button class="dropdown-item">Contract</button>
											<button class="dropdown-item">Permanent</button>
										</div>
									</div>
								</div>
								<span class="form-text text-muted">Select employee Package Type</span>
							</div>
							<div class="col-lg-2">
								<label>Payment Method:</label>
								<div class="input-group">
									<div ngbDropdown class="d-inline-block">
										<button class="btn btn-success" id="dropdownPaymentMethod" ngbDropdownToggle>Select from List</button>
										<div ngbDropdownMenu aria-labelledby="dropdownPaymentMethod">
											<button class="dropdown-item">EFT</button>
										</div>
									</div>
								</div>
								<span class="form-text text-muted">Select employee Method</span>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-6">
								<label class="">Bank Name:</label>
								<input type="text" class="form-control" placeholder="e.g Tyme Bank">
								<span class="form-text text-muted">Provide name of bank</span>
							</div>
							<div class="col-lg-6">
								<label>Account Number:</label>
								<input type="text" class="form-control" placeholder="e.g 622548726">
								<span class="form-text text-muted">Provide employee bank Account Number</span>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-6">
								<label class="">Branch :</label>
								<input type="text" class="form-control" placeholder="e.g Summerstrand">
								<span class="form-text text-muted">Provide name of bank branch</span>
							</div>
							<div class="col-lg-6">
								<label>Branch Code:</label>
								<input type="text" class="form-control" placeholder="e.g 48069">
								<span class="form-text text-muted">Provide Branch Code</span>
							</div>
						</div>
					</div>
					<div class="kt-portlet__foot">
						<div class="kt-form__actions">
							<div class="row">
								<div class="col kt-align-right">
									<button type="reset" class="btn btn-secondary" [routerLink]="['../']">Cancel</button>&nbsp;
									<button type="reset" class="btn btn-primary">Submit</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</mat-tab>
			<mat-tab label="Remuneration">
				<!--begin::Form-->
				<form class="kt-form kt-form--label-right">
					<div class="kt-portlet__body">
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Amount:</label>
								<input type="number" class="form-control">
								<span class="form-text text-muted">Amount per annum</span>
							</div>
							<div class="col-lg-6">
								<label>Period:</label>
								<input type="number" class="form-control">
								<span class="form-text text-muted">In number of mounths</span>
							</div>
						</div>
						<hr />
						<div class="form-group row">
							<div class="col-lg-4">
								<label>Salary:</label>
								<input type="text" class="form-control" readonly="">
								<span class="form-text text-muted">Amount / Period</span>
							</div>
							<div class="col-lg-4">
								<label class="">PAYE:</label>
								<input type="text" class="form-control" readonly="">
								<span class="form-text text-muted">Salary * (income bracket)</span>
							</div>
							<div class="col-lg-4">
								<label class="">UIF:</label>
								<input type="text" class="form-control" readonly="">
								<span class="form-text text-muted">Salary * 1%</span>
							</div>
						</div>
					</div>
					<div class="kt-portlet__foot">
						<div class="kt-form__actions">
							<div class="row">
								<div class="col kt-align-right">
									<button type="reset" class="btn btn-secondary" [routerLink]="['../']">Cancel</button>&nbsp;
									<button type="reset" class="btn btn-primary">Submit</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</mat-tab>
			<mat-tab label="Compliance">
				<!--begin::Form-->
				<form class="kt-form kt-form--label-right">
					<div class="kt-portlet__body">
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Tax Number:</label>
								<input type="text" class="form-control" placeholder="e.g William">
								<span class="form-text text-muted">Provide employee Tax Number</span>
							</div>
							<div class="col-lg-6">
								<label>Tax Certificate:</label>
								<input type="file" class="form-control">
								<span class="form-text text-muted">Upload personal Tax Certificate?</span>
							</div>
						</div>
					</div>
					<div class="kt-portlet__foot">
						<div class="kt-form__actions">
							<div class="row">
								<div class="col kt-align-right">
									<button type="reset" class="btn btn-secondary" [routerLink]="['../']">Cancel</button>&nbsp;
									<button type="reset" class="btn btn-primary">Submit</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</mat-tab>

		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>
