<!--begin::Head-->
<div class="kt-login__head">
	<span class="kt-login__signup-label">Don't have an account yet?</span>&nbsp;&nbsp;
	<a href="javascript:;" routerLink="/auth/register" class="kt-link kt-login__signup-link fg-custom">{{ 'Sign Up' | translate }}</a>
</div>
<!--end::Head-->

<!--begin::Body-->
<div class="kt-login__body">
	<!--begin::Signin-->
	<div class="kt-login__form">
		<div class="kt-login__title">
			<h3>Sign In</h3>
		</div>

		<kt-auth-notice></kt-auth-notice>

		<!--begin::Form-->
		<form class="kt-form" [formGroup]="loginForm" autocomplete="off">
			<div class="form-group">
				<mat-form-field>
					<mat-label>{{ 'Username' | translate }}</mat-label>
					<input matInput type="text" placeholder="{{ 'Username' | translate }}" formControlName="username" autocomplete="off"/>
					<mat-error *ngIf="isControlHasError('username','required')">
						<strong>{{ 'Field Required' | translate }}</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('username','minLength')">
						<strong>{{ 'Username length minimum is ' | translate }} 3 characters</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('username','maxLength')">
						<strong>{{ 'Username length maximum is' | translate }} 320 characters</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>{{ 'Password' | translate }}</mat-label>
					<input matInput type="password" placeholder="{{ 'Password' | translate }}" formControlName="password" autocomplete="off"/>
					<mat-error *ngIf="isControlHasError('password','required')">
						<strong>{{ 'Field Required' | translate }}</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('password','minLength')">
						<strong>{{ 'Password length minimum is ' | translate }} 8</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('password','maxLength')">
						<strong>{{ 'Password length maximum is ' | translate }} 100</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<!--begin::Action-->
			<div class="kt-login__actions row">
				<div class="col-7">
					<div class="">
						<label class="pr-2" for="rememberMe">Remember Me</label><input type="checkbox" id="rememberMe" #remember formControlName="remember" />
					</div>
					<div class="">
						<a href="javascript:;" routerLink="/auth/forgot-password" class="kt-link kt-login__link-forgot">
					{{ 'Forgot Details' | translate }}
				</a>
					</div>
				
				</div>
				<div class="col-5 text-right">
					<button (click)="submit()" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}" id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary bg-custom">{{ 'Login' | translate }}</button>
				</div>
				
			</div>
			<!--end::Action-->
		</form>
		<!--end::Form-->
	</div>
	<!--end::Signin-->
</div>
<!--end::Body-->
