<!--begin::Body-->
<div class="kt-login__body">
	<!--begin::Signin-->
	<div class="kt-login__form">
		<div class="kt-login__title">
			<h3>{{ 'Register new Account' | translate }}</h3>
		</div>

		<kt-auth-notice></kt-auth-notice>

		<form class="kt-login__form kt-form" [formGroup]="registerForm" autocomplete="off">
			<div class="form-group">
				<mat-form-field>
					<mat-label>First Name</mat-label>
					<input matInput type="text" placeholder="First Name" formControlName="firstname"/>
					<mat-error *ngIf="isControlHasError('firstname','minLength')">
						<strong>{{ 'Name minimum text length is ' | translate }} 3 characters</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('fullname','maxLength')">
						<strong>{{ 'Name maximum text length is ' | translate }} 100 characters</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>Last Name</mat-label>
					<input matInput type="text" placeholder="Last Name" formControlName="lastname"/>
					<mat-error *ngIf="isControlHasError('fullname','minLength')">
						<strong>{{ 'Name minimum text length is ' | translate }} 3 characters</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('fullname','maxLength')">
						<strong>{{ 'Name maximum text length is ' | translate }} 100 characters</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>{{ 'Email Address' | translate }}</mat-label>
					<input matInput type="email" placeholder="{{ 'Email Address' | translate }}" formControlName="email" autocomplete="off"/>
					<mat-error *ngIf="isControlHasError('email','required')">
						<strong>{{ 'An Email Address is a Required Field' | translate }}</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('email','email')">
						<strong>{{ 'Email Format Invalid' | translate }}</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('email','minLength')">
						<strong>{{ 'Email Address minimum text length is ' | translate }} 8</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('email','maxLength')">
						<strong>{{ 'Email Address maximum text length is ' | translate }} 320</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>Username</mat-label>
					<input matInput type="text" placeholder="Username" formControlName="username"/>
					<mat-error *ngIf="isControlHasError('username','required')">
						<strong>{{ 'Username is a Required Field' | translate }}</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('username','minLength')">
						<strong>{{ 'Username minimum text length is ' | translate }} 3 characters</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('username','maxLength')">
						<strong>{{ 'Username maximum text length is ' | translate }} 100 characters</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>{{ 'Password' | translate }}</mat-label>
					<input matInput type="password" placeholder="{{ 'Password' | translate }}" formControlName="password" autocomplete="off"/>
					<mat-error *ngIf="isControlHasError('password','required')">
						<strong>{{ 'Password is required' | translate }}</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('password','minLength')">
						<strong>{{ 'Password minimum text length is ' | translate }} 8 characters</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('password','maxLength')">
						<strong>{{ 'Password maximum text length is ' | translate }} 100 characters</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>{{ 'Confirm Password' | translate }}</mat-label>
					<input matInput type="password" placeholder="{{ 'Confirm Password' | translate }}" formControlName="confirmPassword" autocomplete="off"/>
					<mat-error *ngIf="isControlHasError('confirmPassword','required')">
						<strong>{{ 'Please confirm Password' | translate }}</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('confirmPassword','minLength')">
						<strong>{{ 'Password minimum text length is ' | translate }} 8 characters</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('confirmPassword','maxLength')">
						<strong>{{ 'Password maximum text length is ' | translate }} 100 characters</strong>
					</mat-error>
					<mat-error *ngIf="registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').errors.ConfirmPassword">
						<strong>Passsword and ConfirmPassword didn't match.</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-checkbox name="agree" formControlName="agree">
					I agree the <a href="javascript:;">terms & conditions</a>
				</mat-checkbox>
			</div>

			<!--begin::Action-->
			<div class="kt-login__actions">
				<a href="javascript:;" routerLink="/auth/forgot-password" class="kt-link kt-login__link-forgot">
					{{ 'Forgot Password?' | translate }}
				</a>
				<button routerLink="/auth/login" [disabled]="loading" id="kt_login_signup_cancel" class="btn btn-secondary btn-elevate kt-login__btn-secondary">{{ 'Back to Login' | translate }}</button>
				<button (click)="submit()" id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">{{ 'Submit' | translate }}</button>
			</div>
			<!--end::Action-->
		</form>
	</div>
</div>
