<!--Begin::Section-->
<div class="row">
  <div class="col-12">

    <!--begin:: Widgets/Best Sellers-->
    <div class="kt-portlet kt-portlet--height-fluid">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            Your Businesses
          </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
          <button class="btn btn-primary" [routerLink]="['/org/add/']" >Add New</button>
        </div>
      </div>
      <div class="kt-portlet__body">
          <div class="kt-widget5" *ngFor="let org of businesses" >
            <div class="kt-widget5__item">
              <div class="kt-widget5__content">
                <div class="kt-widget5__pic">
                  <img class="kt-widget7__img" src="assets/media/logos/nettpay.png" alt="">
                </div>
                <div class="kt-widget5__section">
                  <a [routerLink]="['/org/edit/', org.id]" class="kt-widget5__title">
                    {{ org.title }}
                  </a>
                  <p class="kt-widget5__desc">
                    {{ org.description || 'no description' }}
                  </p>
                  <div class="kt-widget5__info">
                    <span>Web URL:</span>
                    <span class="kt-font-info"> {{ org.webURL || 'none'}} </span>
                    <span>Added:</span>
                    <span class="kt-font-info"> {{ org.creationTime | date }} </span>
                  </div>
                </div>
              </div>
              <div class="kt-widget5__content">
                <div class="kt-widget5__stats">
                  <span class="kt-widget5__number"> {{ org.employeesCount }} </span>
                  <span class="kt-widget5__sales">Employees</span>
                </div>
                <div class="kt-widget5__stats">
                  <span class="kt-widget5__number">1</span>
                  <span class="kt-widget5__votes">Owner</span>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <!--end:: Widgets/Best Sellers-->
  </div>
</div>

<!--End::Section-->