<kt-portlet>
	<kt-portlet-header [title]="getTitle()"></kt-portlet-header>
	<kt-portlet-body>
		<mat-tab-group mat-stretch-tabs>
			<mat-tab label="Organizational Detail">
				<!--begin::Form-->
				<form class="kt-form kt-form--label-right" [formGroup]="detailsForm">
					<div class="kt-portlet__body">
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Business Name:</label>
								<input type="text" class="form-control" #title placeholder="e.g dHub" formControlName="title">
								<span class="form-text text-muted">Provide organizational trade mark title</span>
								<mat-error *ngIf="detailsForm.get('title').touched && title.value.length < 1">
									<strong> please provide name of business </strong>
								</mat-error>
								<mat-error *ngIf="title.value.length > 0 && title.value.length < 3">
									<strong> minimum length of business name is 3 charactors </strong>
								</mat-error>
								<mat-error *ngIf="title.value.length > 100">
									<strong> maximum length of business name is 100 charactors </strong>
								</mat-error>
							</div>
							<div class="col-lg-6">
								<label class="">Web URL:</label>
								<input type="text" class="form-control" placeholder="e.g www.developmenthub.co.za" formControlName="webURL">
								<span class="form-text text-muted">Provide company URL</span>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-12">
								<label>Description:</label>
								<textarea class="form-control" placeholder="e.g dHub is a next-gen solutions powerhouse" formControlName="description"></textarea>
								<span class="form-text text-muted">Describe Business</span>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Registration Number:</label>
								<input type="text" class="form-control" #regNo placeholder="e.g DU4886HG85" formControlName="regNo">
								<span class="form-text text-muted">Attainable from the Registra of Companies</span>
								<mat-error *ngIf="detailsForm.get('regNo').touched && regNo.value.length < 1">
									<strong> please provide registration number </strong>
								</mat-error>
								<mat-error *ngIf="regNo.value.length > 0 && regNo.value.length < 3">
									<strong> minimum length of registration number is 3 charactors </strong>
								</mat-error>
								<mat-error *ngIf="regNo.value.length > 100">
									<strong> maximum length of registration number is 100 charactors </strong>
								</mat-error>
							</div>
							<div class="col-lg-6">
								<label class="">VAT Number:</label>
								<input type="text" class="form-control" placeholder="e.g 54533h5" formControlName="vatNo">
								<span class="form-text text-muted">Applicable if organization is VAT vendor</span>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-6">
								<label>UIF Number:</label>
								<input type="text" class="form-control" placeholder="e.g 643452" formControlName="uifNo">
								<span class="form-text text-muted"></span>
							</div>
							<div class="col-lg-6">
								<label>BEE Status:</label>
								<input type="text" class="form-control" placeholder="e.g 54533h5" formControlName="beeStatus">
								<span class="form-text text-muted"></span>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Paydate:</label>
								<div class="input-group">
									<select class="form-control" formControlName="monthEnd">
										<option value="0" selected >Month End</option>
										<option value="15">15</option>
										<option value="20">20</option>
										<option value="25">25</option>
									</select>
								</div>
								<span class="form-text text-muted"></span>
							</div>
							<div class="col-lg-6">
								<label>Telephone:</label>
								<input type="text" class="form-control" placeholder="e.g 54533h5" formControlName="telephone">
								<span class="form-text text-muted"></span>
							</div>
						</div>
					</div>
					<div class="kt-portlet__foot">
						<div class="kt-form__actions">
							<div class="row">
								<div class="col kt-align-right">
									<button type="reset" class="btn btn-secondary" [routerLink]="['../']">Cancel</button>&nbsp;
									<button (click)="onSubmitDetails()" class="btn btn-primary"> {{ business.id.length > 0 ? 'update' : 'create' }} </button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</mat-tab>
			<mat-tab label="Banking Detail">
				<!--begin::Form-->
				<form class="kt-form kt-form--label-right" [formGroup]="bankingForm">
					<div class="kt-portlet__body">
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Bank Name:</label>
								<input type="text" class="form-control" placeholder="e.g Tyme Bank" #bankName formControlName="bankName">
								<span class="form-text text-muted">Provide name of bank</span>
								<mat-error *ngIf="bankingForm.get('bankName').touched && bankName.value.length < 1">
									<strong> please provide name of bank </strong>
								</mat-error>
							</div>
							<div class="col-lg-6">
								<label>Account Number:</label>
								<input type="text" class="form-control" placeholder="e.g 622548726" #accountNo formControlName="accountNo">
								<span class="form-text text-muted">Provide employee bank Account Number</span>
								<mat-error *ngIf="bankingForm.get('accountNo').touched && accountNo.value.length < 1">
									<strong> please provide accoount number of business </strong>
								</mat-error>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Branch :</label>
								<input type="text" class="form-control" placeholder="e.g Summerstrand" formControlName="branchName">
								<span class="form-text text-muted">Provide name of bank branch</span>
							</div>
							<div class="col-lg-6">
								<label>Branch Code:</label>
								<input type="text" class="form-control" placeholder="e.g 48069" formControlName="branchCode">
								<span class="form-text text-muted">Provide Branch Code</span>
							</div>
						</div>
					</div>
					<div class="kt-portlet__foot">
						<div class="kt-form__actions">
							<div class="row">
								<div class="col kt-align-right">
									<button type="reset" class="btn btn-secondary" [routerLink]="['../']">Cancel</button>&nbsp;
									<button (click)="onSubmitBanking()" type="button" class="btn btn-primary">Save</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</mat-tab>
			<mat-tab label="Physical Address">
				<!--begin::Form-->
				<form class="kt-form kt-form--label-right" [formGroup]="addressForm">
					<div class="kt-portlet__body">
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Address Line 1:</label>
								<input type="text" class="form-control" placeholder="e.g 125 Willern Cort" #addressLine1 formControlName="addressLine1">
								<span class="form-text text-muted">Provide residential firdst Address Line</span>
								<mat-error *ngIf="addressForm.get('addressLine1').touched && addressLine1.value.length < 1">
									<strong> please provide address line 1 </strong>
								</mat-error>
							</div>
							<div class="col-lg-6">
								<label class="">Address Line 2:</label>
								<input type="text" class="form-control" placeholder="e.g 159 Victoria Embankment" formControlName="addressLine2">
								<span class="form-text text-muted">Provide residential second Address Line 2</span>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Suburb:</label>
								<input type="text" class="form-control" placeholder="e.g Wentworth" #suburb formControlName="suburb">
								<span class="form-text text-muted">Provide residential Suburb</span>
								<mat-error *ngIf="addressForm.get('suburb').touched && suburb.value.length < 1">
									<strong> please provide suburb </strong>
								</mat-error>
							</div>
							<div class="col-lg-6">
								<label>Zip Code:</label>
								<div class="kt-input-icon">
									<input type="text" class="form-control" placeholder="e.g 4001" formControlName="zipCode">
									<span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
								</div>
								<span class="form-text text-muted">Provide residental postal Code</span>
							</div>
						</div>
					</div>
					<div class="kt-portlet__foot">
						<div class="kt-form__actions">
							<div class="row">
								<div class="col kt-align-right">
									<button type="reset" class="btn btn-secondary" [routerLink]="['../']">Cancel</button>&nbsp;
									<button type="button"  class="btn btn-primary" (click)="onSubmitAddress()">save</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</mat-tab>
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>
