table{margin: 0 auto}
th{background-color: #a2a3b7;color: #fff;font-size: 12px;text-transform: uppercase;font-weight: 100;padding:3px 7px;}
td{background-color: #f2f3f8;color: #646c9a;border-bottom: 1px dashed #646c9a;padding: 0 7px;}
td.double{min-width: 192px;}
td.float{min-width: 128px;}
td:not(.none-hover):hover{background-color: #fff}
.italics{font-style: italic}
td input,td button{background-color: transparent;border: none}
td input{width: 100px;}
td input::placeholder{font-style: italic;text-align: center}
td:first-child{font-size: 16px}
td.br{border-right: 1px dashed #646c9a}
.color-black{color: #000}
button:hover{color: var(--cyan);}
tr:last-child td{border-bottom: none;text-align: center;color: #c63}