<div>
  <table>
    <tr>
      <th colspan="3">Taxable Income (Annual)</th>
      <th>Tax Rate</th>
      <th>Amount</th>
      <th></th>
    </tr>
    <tr *ngFor="let item of taxtable">
      <td colspan="2" class="color-black">R {{ item.annual }} </td>
      <td class="br italics double" >R {{ item.monthly }}/month </td>
      <td> {{ item.rate }}% </td>
      <td colspan="2" class="float" >R {{ item.amount }} </td>
    </tr>
    <tr>
      <td class="none-hover">&ge;</td>
      <td class="color-black" title="greater or equal to">R<input [(ngModel)]="tax.annual" (keyup.enter)="addToTable()" (keydown)="resetErrors($event)" name="annual" #txtanual type="text" placeholder="key-in here" /></td>
      <td class="br none-hover italics double">R {{ ((tax.annual/12) || 0.00) | round }}/month</td>
      <td class="color-black" title="percentage"><input (keyup.enter)="addToTable()" (keydown)="resetErrors($event)" [(ngModel)]="tax.rate" name="rate" type="text" placeholder="key-in here" class="text-right" />%</td>
      <td class="none-hover float">R {{ (((tax.annual/12) * (tax.rate/100)) || 0.00) | round  }}</td>
      <td class="none-hover"><button title="add to table" (click)="addToTable()"><i class="fa fa-plus"></i></button></td>
    </tr>
    <tr>
      <td colspan="7" *ngIf="!touched"> {{ errorMessage }} </td>
    </tr>
  </table>
</div>