<kt-portlet>
	<!-- PORTLET LOADING | Binded to TABLE Datasource -->
	<!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
	<kt-portlet-header [title]="'Package Type list'" [class]="'kt-portlet__head--lg'" ></kt-portlet-header>
	<!-- end::Header -->

	<kt-portlet-body>

		<!-- MATERIAL TABLE | Binded to datasources -->
		<!-- See off.documentations 'https://material.angular.io/components/table/overview' -->
		<input (keyup.enter)="addType(title)" #title type="text" class="form-control" placeholder="Key-In Package Type, and hit 'Enter'">
		<ul class="list-group">
			<li *ngFor="let item of pTypes" class="list-group-item">
				<!-- <button class="btn btn-default btn-sm" (click)="updatePost(post)">Update</button> -->
				<button class="btn btn-danger btn-sm pull-right" (click)="deleteType(item)">Delete</button>
				{{ item.title }}
			</li>
		</ul>
	</kt-portlet-body>
	<!-- end::Body -->
</kt-portlet>
