<div class="row">
		<div class="col-xl-6">
				<div class="row row-full-height">
					<div class="col-sm-12 col-md-12 col-lg-6">
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<kt-widget26 [value]="570" [desc]="'Total Sales'" [options]="chartOptions1"></kt-widget26>
							</kt-portlet-body>
						</kt-portlet>
		
						<div class="kt-space-20"></div>
		
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<kt-widget26 [value]="640" [desc]="'Completed Transactions'" [options]="chartOptions2"></kt-widget26>
							</kt-portlet-body>
						</kt-portlet>
					</div>
		
					<div class="col-sm-12 col-md-12 col-lg-6">
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<kt-widget26 [value]="'234+'" [desc]="'Transactions'" [options]="chartOptions3"></kt-widget26>
							</kt-portlet-body>
						</kt-portlet>
		
						<div class="kt-space-20"></div>
		
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<kt-widget26 [value]="'4.4M$'" [desc]="'Paid Comissions'" [options]="chartOptions4"></kt-widget26>
							</kt-portlet-body>
						</kt-portlet>
					</div>
				</div>
			</div>
	<div class="col-xl-6">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'Payment Statistics'">
				<ng-container ktPortletTools>
					<kt-context-menu2></kt-context-menu2>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body>
				<kt-widget12></kt-widget12>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>

<kt-portlet>
	<kt-portlet-body [class]="'kt-portlet__body--fit'">
		<div class="row row-no-padding row-col-separator-xl">
			<div class="col-xl-4">
				<kt-widget1></kt-widget1>
			</div>
			<div class="col-xl-4">
				<kt-widget14 [title]="'Daily Sales'" [desc]="'Check out each collumn for more details'"></kt-widget14>
			</div>
			<div class="col-xl-4">
				<kt-widget14 [title]="'Revenue Change'" [desc]="'Revenue change breakdown by cities'"></kt-widget14>
			</div>
		</div>
	</kt-portlet-body>
</kt-portlet>